{{!-- <main class="container-fluid py-5 block block-1"> --}}
    <div class="container-fluid block block-1">
        <div class="container block block-1">
            <div class="row full-width">
                <div class="col-md-6 col-sm-6 col-6 text-center py-5 me-3">
                    <img src="https://image.tmdb.org/t/p/w342/{{weekly.poster_path}}" alt="{{weekly.title}}">
                </div>

                <div class="col-md-6 col-sm-6 col-6 py-5">
                    <h2 id="book-title" class="text-center">Title</h2>
                    <span id="book-desc">This is random stuff This is random stuff This is random stuff This is
                        random stuff This is random stuff This is random stuff This is random stuff This is random
                        stuff This is random stuff This is random stuff This is random stuff This is random stuff
                        This is random stuff This is random stuff This is random stuff This is random stuff This is
                        random stuff This is random stuff This is random stuff This is random stuff This is random
                        ndom stuff This is random stuff This is random stuff This is random stuff This is random
                        stuff This is random stuff This is random stuff This is random stuff This is random stuff
                        This is random stuff This is random stuff This is random stuff This is random stuff This is
                        random stuff This is random stuff This is rand stuff </span>
                </div>
            </div>
        </div6