<!--<div class="text-center">
    <p>{{movie.id}}</p>
    <p>{{movie.title}}</p>
    <p>{{movie.vote_average}}</p>
    <p>{{movie.overview}}</p>
     <button class="btn btn-primary">Please review!</button>
</div>
-->